{% extends "byro_fints/base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block fints_heading %}{% trans "SEPA transfer …" %}{% endblock %}

{% block fints_content %}
    <div style="background-color: lightcoral; font-size: larger">Warning: Probably broken</div> <!-- FIXME -->
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form layout='horizontal' %}
        <button class="btn btn-success" type="submit">{% trans "Transfer …" %}</button>
    </form>

{% endblock %}
