{% extends "byro_fints/base.html" %}
{% load i18n %}
{% load my_filters %}

{% block fints_heading %}{% trans "Dashboard" %}{% endblock %}

{% block stylesheets %}
<style>
    .btn-group-rounded a:first-of-type.btn {
        border-top-left-radius: 1em;
        border-bottom-left-radius: 1em;
    }
    .btn-group-rounded a:last-of-type.btn {
        border-top-right-radius: 1em;
        border-bottom-right-radius: 1em;
    }
</style>
{% endblock %}

{% block fints_content %}
    <p>{% blocktrans trimmed %}
        To use the FinTS functionality, you need to create a bank login and fetch the account list. Then you can link the FinTS accounts to existing or new accounts in the bookkeeping module.
    {% endblocktrans %}</p>
    <p><a class="btn btn-success" href="{% url "plugins:byro_fints:finance.fints.login.add" %}"><span class="fa fa-plus"></span> {% trans "Create bank login" %}</a></p>

    {% if fints_logins %}
    <h4>{% trans "Bank logins that have been fully set up" %}</h4>
    <table class="table table-sm">
        <thead>
            <tr>
                <th class="table-column-small">{% trans "BLZ" %}</th>
                <th class="table-column-large">{% trans "Name" %}</th>
                <th class="table-column-large">{% trans "FinTS URL" %}</th>
                <th>{% trans "Actions" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for login in fints_logins %}
                <tr>
                    <td>{{ login.blz }}</td>
                    <td>{{ login.name }}</td>
                    <td>{{ login.fints_url }}</td>
                    <td>
                        <a href="{% url "plugins:byro_fints:finance.fints.login.edit" pk=login.pk %}" class="btn btn-success">
                            <span class="fa fa-pencil" title="{% trans "Edit login data" %}"></span><span class="sr-only">{% trans "Edit login data" %}</span>
                        </a>
                        <a href="{% url "plugins:byro_fints:finance.fints.login.refresh" pk=login.pk %}" class="btn btn-success">
                            <span class="fa fa-refresh" title="{% trans "Refresh account data" %}"></span><span class="sr-only">{% trans "Refresh account data" %}</span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

    {% if inactive_logins %}
    <h4>{% trans "Other bank logins" %}</h4>
    <table class="table table-sm">
        <thead>
            <tr>
                <th class="table-column-small">{% trans "BLZ" %}</th>
                <th class="table-column-large">{% trans "Name" %}</th>
                <th class="table-column-large">{% trans "FinTS URL" %}</th>
                <th>{% trans "Actions" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for login in inactive_logins %}
                <tr>
                    <td>{{ login.blz }}</td>
                    <td>{{ login.name }}</td>
                    <td>{{ login.fints_url }}</td>
                    <td>
                        <a href="{% url "plugins:byro_fints:finance.fints.login.add" %}?login={{ login.pk }}" class="btn btn-success">
                            <span class="fa fa-plus" title="{% trans "Finish setting up login" %}"></span><span class="sr-only">{% trans "Set up login" %}</span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

    <h4>{% trans "Known bank accounts" %}</h4>
    {% include "byro_fints/snippet_account_list.html" with account_list=fints_accounts %}

{% endblock %}
