{% extends "byro_fints/base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block fints_heading %}{% trans "Edit bank login …" %}{% endblock %}

{% block fints_content %}
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form layout='horizontal' %}
        <button class="btn btn-success" type="submit">{% trans "Save" %}</button>
    </form>

    <h4 class="mt-3">{% trans "Associated bank accounts" %}</h4>
    {% include "byro_fints/snippet_account_list.html" with account_list=fints_login.accounts.all %}

{% endblock %}
