{% extends "byro_fints/base.html" %}
{% load bootstrap4 %}
{% load static %}
{% load compress %}
{% load i18n %}

{% block fints_heading %}{% trans "Enter TAN …" %}{% endblock %}



{% block fints_content %}
    <div class="card mt-4 mb-4">
        <div class="card-body">
            <p class="card-text">{% blocktrans trimmed %}
                You need to provide a transaction number (TAN) for the transaction to proceed. Please follow the instructions given by your bank and enter the resulting TAN below.
            {% endblocktrans %}</p>
        </div>
    {% include "byro_fints/snippet_tan_request.html" %}
    </div>
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form layout='horizontal' %}
        <button class="btn btn-success" type="submit">{% trans "Execute" %}</button>
    </form>

{% endblock %}
